<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>collegeadminlogin</servlet-name>
        <servlet-class>servlet.collegeadminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcollegeinfo</servlet-name>
        <servlet-class>servlet.editcollegeinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edittechinfo</servlet-name>
        <servlet-class>servlet.edittechinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudentinfo</servlet-name>
        <servlet-class>servlet.editstudentinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudent</servlet-name>
        <servlet-class>servlet.addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcollege</servlet-name>
        <servlet-class>servlet.editcollege</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teacheradd</servlet-name>
        <servlet-class>servlet.teacheradd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editteacher</servlet-name>
        <servlet-class>servlet.editteacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudent</servlet-name>
        <servlet-class>servlet.editstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteteacher</servlet-name>
        <servlet-class>servlet.deleteteacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestudent</servlet-name>
        <servlet-class>servlet.deletestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginstudent</servlet-name>
        <servlet-class>servlet.loginstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcollegerating</servlet-name>
        <servlet-class>servlet.addcollegerating</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findcollegename</servlet-name>
        <servlet-class>servlet.findcollegename</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitorlogin</servlet-name>
        <servlet-class>servlet.visitorlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visitorreg</servlet-name>
        <servlet-class>servlet.visitorreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomment</servlet-name>
        <servlet-class>servlet.addcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>servlet.adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_com_reply</servlet-name>
        <servlet-class>servlet.add_com_reply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courseadd</servlet-name>
        <servlet-class>servlet.courseadd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletecomment</servlet-name>
        <servlet-class>servlet.deletecomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetpassword</servlet-name>
        <servlet-class>servlet.forgetpassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>collegeadminlogin</servlet-name>
        <url-pattern>/collegeadminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcollegeinfo</servlet-name>
        <url-pattern>/editcollegeinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edittechinfo</servlet-name>
        <url-pattern>/edittechinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudentinfo</servlet-name>
        <url-pattern>/editstudentinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcollege</servlet-name>
        <url-pattern>/editcollege</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teacheradd</servlet-name>
        <url-pattern>/teacheradd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editteacher</servlet-name>
        <url-pattern>/editteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudent</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteteacher</servlet-name>
        <url-pattern>/deleteteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestudent</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginstudent</servlet-name>
        <url-pattern>/loginstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcollegerating</servlet-name>
        <url-pattern>/addcollegerating</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findcollegename</servlet-name>
        <url-pattern>/findcollegename</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitorlogin</servlet-name>
        <url-pattern>/visitorlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visitorreg</servlet-name>
        <url-pattern>/visitorreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomment</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_com_reply</servlet-name>
        <url-pattern>/add_com_reply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courseadd</servlet-name>
        <url-pattern>/courseadd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletecomment</servlet-name>
        <url-pattern>/deletecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetpassword</servlet-name>
        <url-pattern>/forgetpassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
